HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/stcconfig-client/LOG_HOME_IS_UNDEFINED/stcconfig_all.log
/stcconfig-client/LOG_HOME_IS_UNDEFINED/stcconfig_error.log
/stcconfig-server/LOG_HOME_IS_UNDEFINED/stcconfig_all.log
/stcconfig-server/LOG_HOME_IS_UNDEFINED/stcconfig_error.log
/stcconfig-client/src/main/resources/stcconfig/
/logs/
